*.exe
*.out
*.swp
*.bak
./bin
./rethinkdb-data
./pkg
/*-bak.*
/*.sublime-project
/*.sublime-workspace
/src/github.com
/src/golang.org
/src/gopkg.in
/src/labix.org
/src/code.google.com
/pkg
/bin
bak
node_modules
npm-debug.log
